html {
  font-size: 20px;
  font-family: "Playwrite Deutschland Grundschrift", sans-serif;
}

body {
  background: linear-gradient(270deg, #08f3c8, #0e8fff, #8e46ed);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
